.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: grey;
    // border-bottom: 1px solid grey;
    cursor: pointer;
  }

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 620px;
  }

  &__title {
    font-size: 14px;
    color: #000;
  }

  &__form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__form {
    margin: 75px 0;
  }
}

.modal__form-group select,
.modal__form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal__buttons button {
  padding: 7px 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.modal__buttons button:first-child {
  background-color: transparent;
  border: 1px solid grey;
}

.modal__buttons button:last-child {
  background-color: #007bff;
  color: white;

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
