@import "../../../scss/index.scss";

.today-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: $white;
    gap: 20px;
    font-size: 24px;

    @include onBig-desktop {
        font-size: 18px;
    }
    
    &__date {
        font-size: 36px;
        font-weight: 700;
        
        @include onBig-desktop {
            font-size: 18px;
        }
    }

    &__icon {
        width: 100px;
        height: 100px;
        margin-bottom: -20px;
    }

    &__weather {
        display: flex;
        align-items: center;
        font-size: 64px;
    }

    &__city {
        font-size: 36px;
    }

    &__choice {
        font-size: 36px;
    }
}