@import "../../../scss/index.scss";

.trip-list {
  display: flex;
  flex-direction: column;
  padding: 50px 0 40px 0;

  &__row {
    display: flex;
    gap: 50px;

    @include onBig-desktop {
      flex-direction: column;
    }
  }

  &__trips {
    display: flex;
    overflow-x: auto;
    max-width: 700px;
    gap: 50px;

    @include onBig-desktop {
      max-width: none;
    }
    // &::-webkit-scrollbar { // optional
    //   display: none;
    // }
  }

  &__buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;

    img {
      cursor: pointer;
    }
  }

  &__nothing-found {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
