@import "../../../scss/index.scss";

.trip-search {
  display: flex;
  align-items: center;
  width: 250px;
  height: 55px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px 0 10px 20px; 
  border-radius: 10px;
  color: #000;

  @include onTablet {
    width: 100%;
  }

  &__icon {
    margin-right: 10px;
    font-size: 18px;
    color: #000;
  }

  &__input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;

    &::placeholder {
        color: #000;
    }
    
  }
}
