.title {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 60px 0;

  &__bold {
    font-weight: 700;
  }
}

.flex {
    display: flex;
}

.width-75 {
  width: 75%;
}

.width-25 {
    width: 25%;
    display: flex;
    background-color: lightblue;
    height: 100vh;
}
