@import "../../scss/index.scss";

.flex {
  display: flex;

  @include onBig-tablet {
    flex-direction: column;
  }
}

.width-70 {
  width: 70%;

  @include onBig-tablet {
    width: 100%;
  }
}

.width-30 {
  width: 30%;
  display: flex;
  background-color: $purple;
  height: 100vh;

  @include onBig-tablet {
    width: 100%;
  }

}
